<div class="container-fluid">
    <div class="paragraph-body">
        <h3>EXCITING NEW AM New Amenities</h3>
          <h4>Offering convenience, health and wellness</h4>
    </div>

    <div class="paragraph-image">
        <%=image_tag("FoodHall.png", class: "img-responsive") %>
        <h5 class="image-caption-right">An indoor/outdoor riverfront café and food hall for onsite meals and "townhall" gatherings</h5>
    </div>
    <div class="paragraph-body">
        <p>
        A variety of central gathering areas like the new Food Hall will assist United to promote a culture that is collaborative, inclusive, innovative and sparks creativity.
        </p>
    </div>

    <div class="paragraph-body">
        <h3>Rediscovering the River</h3>
    </div>

    <div class="paragraph-image">
        <%=image_tag("RiverDay.jpg", class: "img-responsive") %>
        <h5 class="image-caption">Direct connections to the park and water for corporate programming, break out sessions, rest and relaxation</h5>
    </div>

    <div class="paragraph-body">
        <p>
          One of the most exciting themes of downtown Chicago's evolution is the resurgence of interest along the river. The Main Branch was completed in 2017 to Lake Street and the river has quickly become one of the most desirable destination for both work and leisure. United is investing in our employees and improving the communities where we live and work.
        </p>
    </div>

    <div class="paragraph-body">
        <h3>Campus Commons</h3>
    </div>
    <div class="paragraph-image">
        <%=image_tag("CampusCommons.png", class: "img-responsive") %>
        <h5 class="image-caption-right">The new "Campus Commons" building located across the "Quad" providing food and fitness is open to the public</h5>
    </div>
    <div class="paragraph-body">
          <p>
          Located the corner of the campus, the "Commons" building at Chicago Avenue and Halsted Street, the Campus Commons will activate campus and will be open to both employees and the general public. The Commons will be programmed with an exciting variety of fresh food options, fitness and wellness keep employees happy and healthy.
          </p>
    </div>

    <div class="paragraph-image">
      <%=image_tag("WorkingLobby.png", class: "img-responsive") %>
      <h5 class="image-caption">A working lobby and conference/training areas on the ground floor overlooking the river provide collaboration areas for employees as well as visitors</h5>
    </div>

    <div class="slogan">
      <h3>New Home, New Spirit of United</h3>
    </div>

    <div class="body-nav">
      <%= link_to "View Transit Maps", transit_path %>
    </div>
</div>
