<div class="container-fluid">
    <div class="paragraph-body">
        <h3>Open to our Community</h3>
          <h4>Public amenities bring convenience, health and wellness</h4>
    </div>

    <div class="paragraph-image">
        <%=image_tag("https://s3.us-east-2.amazonaws.com/hqu/FoodHall.png", class: "img-responsive") %>
        <h5 class="image-caption-right">An indoor/outdoor riverfront café and food hall for onsite meals and "townhall" gatherings</h5>
    </div>
    <div class="paragraph-body">
        <p>
          A variety of central gathering areas like the new Food Hall and Café will bring our team together and help to enable a culture that is collaborative, inclusive, and sparks spontaneous creativity. An indoor/outdoor connection to riverfront amphitheater seating and 1,000’ of riverwalk promenade creates a unique sense of place and an opportunity for fresh air and informal gatherings at the river’s edge.
        </p>
    </div>

    <div class="paragraph-body">
        <h3>Open to a New River Experience</h3>
    </div>

    <div class="paragraph-image">
        <%=image_tag("https://s3.us-east-2.amazonaws.com/hqu/RiverDay.jpg", class: "img-responsive") %>
        <h5 class="image-caption">Direct connections to the park and water for corporate programming, break-out sessions, rest and relaxation</h5>
    </div>

    <div class="paragraph-body">
        <p>
          United is proud to invest in our employees and in improving the communities where we live and work. As the anchor tenant to the 7-acre campus, United is enabling the creation of a 4-acre riverfront park and 1,000’ or riverwalk promenade. During the approval process, the Developer of the site worked extensively with the City and an experienced group of designers to ensure a highly desirable outdoor aesthetic will be delivered.
        </p>
    </div>

    <div class="paragraph-body">
        <h3>Open to a Future of Mobility</h3>
    </div>
    <div class="paragraph-image">
        <%=image_tag("https://s3.us-east-2.amazonaws.com/hqu/CampusCommons.png", class: "img-responsive") %>
        <h5 class="image-caption-right">The Connected Campus is a future phase, custom designed for Uber's advanced technolies including Autonomous and Elevate</h5>
    </div>
    <div class="paragraph-body">
          <p>
            Located at the corner of Chicago Avenue and Halsted Street, a separate Campus Commons building will activate the site with exciting new amenities. The Commons will be built and financed separately by the site’s Developer, however will be open to employees and the public to enliven the area while keeping United’s building secure. The Commons will be programmed with a variety of fresh food options, retail, fitness and wellness amenities.
          </p>
    </div>

    <div class="paragraph-image">
      <%=image_tag("https://s3.us-east-2.amazonaws.com/hqu/WorkingLobby.png", class: "img-responsive") %>
      <h5 class="image-caption">A working lobby and conference/training areas on the ground floor overlook the river and provide collaboration areas for employees and visitors</h5>
    </div>

    <div class="slogan">
      <h3>Keeping Chicago in Motion</h3>
    </div>

    <div class="body-nav">
      <%= link_to "View Transit Maps", transit_path %>
    </div>
</div>
