<div class="container-fluid">
    <div class="paragraph-body">
        <h3>United at Last</h3>
          <h4>Custom designed for our operations to bring out our best</h4>
    </div>

    <div class="paragraph-image">
        <%= image_tag("https://s3.us-east-2.amazonaws.com/hqu/AtriumModule.png", alt: "atrium", class: "img-responsive") %>
        <h5 class="image-caption-right">Interconnecting atriums promote a new level of openness, teamwork and collaboration</h5>
    </div>
    <div class="paragraph-body">
        <p>
          Our new facility is fundamentally designed around enhancing communication. With large open floor plates, an abundance of new collaborative areas, amenity spaces, central atriums and interconnecting stairs, the new building is intended to improve the way our organization interacts. The parklike riverfront setting and floor to ceiling glass will bring in natural light and air that combine to bring a sense of energy into the space. It is against this backdrop that United is excited to embark on a new era of innovation and teamwork.
        </p>
    </div>

    <div class="paragraph-body">
        <h3>United Globally</h3>
    </div>

    <div class="paragraph-image">
        <%=image_tag("https://s3.us-east-2.amazonaws.com/hqu/OperationCenter.jpg", class: "img-responsive") %>
        <h5 class="image-caption">A safe and secure new operations center improves performance for our business where every moment counts</h5>
    </div>

    <div class="paragraph-body">
        <p>
          What happens in Chicago, does not stay in Chicago. As a leading global airline operating over 4,500 flights per day, our business relies upon consistently excellent execution day in and day out. A new state of the art Network Operations Center is designed to realize the best operational efficiency possible which directly extends to our family of 85,000 employees in the field and the customer experience worldwide.
        </p>
        <p>
          Efficient operations will assist to uphold our goal of ensuring a working environment that has the highest standards of safety and reliability and will continue to make United the employer of choice for flight attendants, pilots, airport and field technical operations.
        </p>
    </div>

    <div class="paragraph-body">
        <h3>Friendly Skies</h3>
    </div>
    <div class="paragraph-image">
        <%=image_tag("https://s3.us-east-2.amazonaws.com/hqu/LobbyAtrium.jpg", class: "img-responsive") %>
        <h5 class="image-caption-right">Floor to ceiling glass and riverfront setting creates unrivaled natural light and air</h5>
    </div>
    <div class="paragraph-body">
          <p>
            A riverfront building and park setting provides an abundance of light and air to energize the employee experience. Floor to ceiling glass and 14’6” ceiling heights will bring natural light deep into the work space. The custom building is equipped with modern systems such as HVAC to ensure fresh and healthy air. Destination dispatch elevators and interconnecting stairs between floors will allow employees to move throughout the building efficiently.
          </p>
    </div>

    <div class="paragraph-image">
      <%=image_tag("https://s3.us-east-2.amazonaws.com/hqu/terrace.jpg", class: "img-responsive") %>
      <h5 class="image-caption">Skyline and river views provide energy and inspiration for our future aviation leaders</h5>
    </div>

    <div class="slogan">
      <h3>New Spirit of United</h3>
    </div>

    <div class="body-nav">
      <%= link_to "View Amenities", amenities_path %>
    </div>
</div>
