<div class="container-fluid">
    <div class="paragraph-body">
        <h3>United at Last</h3>
          <h4>Tailor made for our operations to bring out our best</h4>
    </div>

    <div class="paragraph-image">
        <%=image_tag("AtriumModule.png", class: "img-responsive") %>
        <h5 class="image-caption-right">Interconnecting atriums promote a new level of openness, teamwork and collaboration</h5>
    </div>
    <div class="paragraph-body">
        <p>
          Innovation. The new facilities reflect our dedication to securing the best possible future for our employees and customers. The building has been designed to encourage collaboration, teamwork and communication that
          Located along the North Branch of the Chicago River among Chicago’s dynamic West Loop, Fulton Market and River North neighborhoods, the transit-oriented site is designed as a vibrant and energetic campus in the City, delivering over 4 acres of public park and 1,000’ of riverwalk promenade. Enhancing the lives of our employees and the communities where we live and work.
        </p>
    </div>

    <div class="paragraph-body">
        <h3>United at Heart</h3>
    </div>

    <div class="paragraph-image">
        <%=image_tag("OperationCenter.jpg", class: "img-responsive") %>
        <h5 class="image-caption"> A safe and secure new operations center improves performance when every moment counts</h5>
    </div>

    <div class="paragraph-body">
        <p>
          While the headquarters is located in Chicago, a well-run touches all aspects of our business that runs in real time 24/7/365 globally. The new facility will impact not only our 5,000 employees at the facility, but an efficient operation translates to an environment that has the highest standards of safety, is caring, dependable, reliable and on-time for our flight attendants, pilots, airport and technical operations employees that are at the forefront of serving our customers every day worldwide – Family
        </p>
    </div>

    <div class="paragraph-body">
        <h3>Friendly Skies</h3>
    </div>
    <div class="paragraph-image">
        <%=image_tag("LobbyAtrium.jpg", class: "img-responsive") %>
        <h5 class="image-caption-right">Floor to ceiling glass and riverfront setting creates unrivaled natural light and air</h5>
    </div>
    <div class="paragraph-body">
          <p>
          Alertness and productivity...Located along the North Branch of the Chicago River among Chicago’s dynamic West Loop, Fulton Market and River North neighborhoods, the transit-oriented site is designed as a vibrant and energetic campus in the City, the north branch has previously been restricted from large scale development. The first site to become available... as the city moves north.
          </p>
    </div>

    <div class="paragraph-image">
      <%=image_tag("terrace.jpg", class: "img-responsive") %>
      <h5 class="image-caption">Skyline and river views provide energy and inspiration for our future aviation leaders</h5>
    </div>

    <div class="slogan">
      <h3>New Home, New Spirit of United</h3>
    </div>

    <div class="body-nav">
      <%= link_to "Exciting New Amenities", amenities_path %>
    </div>
</div>
