<div class="container-fluid">
    <div class="paragraph-body">
        <h3>Transit Oriented & Accessible</h3>
        <p>
           Located at the intersection of Chicago Avenue and Halsted Street, the site benefits from some of the most robust and high frequency mass transit options on the North Branch.
        </p>

        <p>
           Secured employee parking will be offered below the park level and underneath the building. Over $4.5 million has been committed to neighborhood traffic signal upgrades that will be in place prior to occupancy.
        </p>

    </div>

    <div class="transit-header">
        <h3><i class="fa fa-train"></i> Walk to CTA Blue, Brown/Purple Lines</h3>
    </div>
    <div class="paragraph-image">
        <%=image_tag("CTA L.jpg", class: "img-responsive") %>
    </div>

    <div class="transit-header">
        <h3><i class="fa fa-bus"></i> CTA Buses at Site Every 3-5 Minutes</h3>
    </div>
    <div class="paragraph-image">
        <%=image_tag("CTA Bus.jpg", class: "img-responsive") %>
    </div>

    <div class="transit-header">
        <h3><i class="fa fa-bicycle"></i> Protected Bike Routes, Onsite Divvy and Lockers</h3>
    </div>
    <div class="paragraph-image">
        <%=image_tag("Bike.jpg", class: "img-responsive") %>
    </div>

    <div class="transit-header">
        <h3><i class="fa fa-ship"></i> 12 Minutes to Ogilvie Station and Michigan Ave.</h3>
    </div>
    <div class="paragraph-image">
        <%=image_tag("WaterTaxi.jpg", class: "img-responsive") %>
    </div>

    <div class="transit-header">
        <h3><i class="fa fa-car"></i> Private Shuttle to Commuter Stations in Under 10 mins</h3>
    </div>
    <div class="paragraph-image">
        <%=image_tag("ShortcutShuttle.jpg", class: "img-responsive") %>
    </div>

    <div class="slogan">
      <h3>New Home, New Spirit of United</h3>
    </div>

    <div class="body-nav">
      <%= link_to "View the Transitway", transitway_path %>
    </div>

</div>
