<div class="container-fluid">
    <div class="paragraph-body">
        <h3>Transit Oriented & Accessible</h3>
        <p>
          Located at the intersection of Chicago Avenue and Halsted Street, the site benefits from some of the most robust and high frequency mass transit options in the City. The site is walkable to CTA “L” lines, is directly served by high frequency CTA Bus lines, offers a partially “off-street” shuttle operation to Ogilvie Station and Union Station in under 10 minutes.
        </p>
        <p>
          A water taxi stop on-site connects to the West Loop and Michigan Avenue for 9-months a year in under 12 minutes and a full complement of Divvy and commuter bicycle facilities will be available within the campus. Secured employee parking will be offered below the park level and underneath the building.
        </p>
    </div>

    <div class="transit-header">
        <h3><i class="fa fa-train"></i> Walk to CTA Blue, Brown/Purple Lines</h3>
    </div>
    <div class="paragraph-image">
        <%=image_tag("CTA L.jpg", class: "img-responsive") %>
    </div>

    <div class="transit-header">
        <h3><i class="fa fa-bus"></i> CTA Buses at Site Every 3-5 Minutes</h3>
    </div>
    <div class="paragraph-image">
        <%=image_tag("CTA Bus.jpg", class: "img-responsive") %>
    </div>

    <div class="transit-header">
        <h3><i class="fa fa-bicycle"></i> Protected Bike Routes, Onsite Divvy and Lockers</h3>
    </div>
    <div class="paragraph-image">
        <%=image_tag("Bike.jpg", class: "img-responsive") %>
    </div>

    <div class="transit-header">
        <h3><i class="fa fa-ship"></i> 12 Minutes to Ogilvie Station and Michigan Ave.</h3>
    </div>
    <div class="paragraph-image">
        <%=image_tag("WaterTaxi.jpg", class: "img-responsive") %>
    </div>

    <div class="transit-header">
        <h3><i class="fa fa-car"></i> Private Shuttle to Commuter Stations in Under 10 mins</h3>
    </div>
    <div class="paragraph-image">
        <%=image_tag("ShortcutShuttle.jpg", class: "img-responsive") %>
    </div>

    <div class="slogan">
      <h3>New Home, New Spirit of United</h3>
    </div>

    <div class="body-nav">
      <%= link_to "View the Transitway", transitway_path %>
    </div>

</div>
