<div class="container-fluid">
    <div class="paragraph-body">
        <h3>New Spirit of United</h3>
          <h4>A modern new campus to bring us all closer</h4>
    </div>

    <div class="paragraph-image">
        <%=image_tag("https://s3.us-east-2.amazonaws.com/hqu/campusnorthbranded.jpg", class: "img-responsive") %>
        <h5 class="image-caption-right">Our new state of the art facility is customized for United’s operations and nestled in a 7-acre riverfront park</h5>
    </div>
    <div class="paragraph-body">
        <p>
          The new United Campus reflects our ongoing commitment to industry-leading customer service and is an investment in our employees locally and the United family globally. By creating a 7-acre riverfront campus and a state-of-the-art facility that promotes a culture of teamwork and innovation, we look forward to commencing the next chapter of excellence for our airline. While we are proud of our history as a leader in the airline industry, we're are even more focused on moving the business into the future.
        </p>
    </div>

    <div class="paragraph-body">
        <h3>Campus in the City</h3>
    </div>

    <div class="paragraph-image">
        <%=image_tag("https://s3.us-east-2.amazonaws.com/hqu/campuswestbranded.jpg", class: "img-responsive") %>
        <h5 class="image-caption">A unique new riverfront experience brings a fresh perspective, energy and inspiration to our work</h5>
    </div>

    <div class="paragraph-body">
        <p>
          The riverfront parcel on which United’s new campus is located is part of a larger 37-acre landholding that has previously been restricted from high-density development due to outdated zoning policy in place since the 1980’s.
        </p>
        <p>
          Meanwhile, Chicago has grown up all around the site and is just now beginning to recognize the full potential and draw of the riverfront for work and leisure activities. Today, the attraction and success of recent civic projects such as the City’s main branch riverwalk and privately funded large-scale office and residential developments at the river’s confluence is undeniable.
        </p>
        <p>
          As the first site to receive approvals under the City’s modernized zoning framework, United is taking advantage of the unique opportunity to secure a 7-acre site and create an urban campus that exactly meets operational requirements and plans for future growth. Adjacent zoning and planing directly north and south of the site have further laid the groundwork for a new +40 acre 'city within the city' to emerge on the North Branch.
        </p>
    </div>

    <div class="paragraph-body">
        <h3>Why The River District?</h3>
    </div>
    <div class="paragraph-image">
        <%=image_tag("https://s3.us-east-2.amazonaws.com/hqu/CTA+L.jpg", class: "img-responsive") %>
        <h5 class="image-caption">An infill site surrounded by the West Loop, River North and Fulton Market is served by all forms of mass transit</h5>
    </div>
    <div class="paragraph-body">
          <p>
            Located along the North Branch of the Chicago River, our new campus is situated among Chicago’s most dynamic downtown neighborhoods: West Loop, Fulton Market and River North. At the corner of Chicago Avenue and Halsted Street, the site is serviced by the City’s highest frequency mass transit infrastructure for convenient access by City employees. For Suburban employees, the site will operate a partially “off-street” shuttle to Ogilvie Station and Union Station which is planned to be replaced by a dedicated transit corridor for the City’s 3-mile “North Branch Transitway”.
          </p>
    </div>

    <div class="paragraph-image">
      <%=image_tag("https://s3.us-east-2.amazonaws.com/hqu/campussouthbranded.jpg", class: "img-responsive") %>
      <h5 class="image-caption">Planting a Flag and creating a submarket, United is jump-starting Chicago's growth north up the River</h5>
    </div>

    <div class="slogan">
      <h3>New Spirit of United</h3>
    </div>

    <div class="body-nav">
      <%= link_to "View the Facility", facility_path %>
    </div>
</div>
