<div class="container-fluid">
    <div class="paragraph-body">
        <h3>New Spirit of United</h3>
          <h4>A modern new campus brings us all closer</h4>
    </div>

    <div class="paragraph-image">
        <%=image_tag("CampusNorth.jpg", class: "img-responsive") %>
        <h5 class="image-caption-right">Our new state of the art facility custom-tailored for United is nestled in a 7-acre riverfront park</h5>
    </div>
    <div class="paragraph-body">
        <p>
          The new United Campus reflects our ongoing commitment to industry-leading customer service, by creating 7-acre riverfront campus and state of the art facilities designed to promote a strengthened culture of teamwork and innovation to commence a new era of excellence for the airline. While we are proud of our history as a leader in the airline industry, we're are even more focused on moving the business forward into the future. Innovations.
        </p>
    </div>

    <div class="paragraph-body">
        <h3>Campus in the City</h3>
    </div>

    <div class="paragraph-image">
        <%=image_tag("RiverNight.jpg", class: "img-responsive") %>
        <h5 class="image-caption">A unique new riverfront experience brings energy and inspiration to our work</h5>
    </div>

    <div class="paragraph-body">
        <p>
            Accessible and safe, unique operations and future growth. Collaborative culture, inspiration and sparks creativity, gathering, dining, entertainment and relaxation transformation from underutilized industrial waterfront, to a vibrant mixed-use, transit oriented downtown neighborhood sense of place
        </p>
    </div>

    <div class="paragraph-body">
        <h3>Why The River District?</h3>
    </div>
    <div class="paragraph-image">
        <%=image_tag("CTA L.jpg", class: "img-responsive") %>
        <h5 class="image-caption">An infill site surrounded by the West Loop, River North and Fulton Market and served by mass transit</h5>
    </div>
    <div class="paragraph-body">
          <p>
          Located along the North Branch of the Chicago River among Chicago’s dynamic West Loop, Fulton Market and River North neighborhoods, the transit-oriented site is designed as a vibrant and energetic campus in the City, the north branch has previously been restricted from large scale development. The first site to become available... as the city moves north.
          </p>
          <p>
          The transit-oriented site is served by the a variety of the City's most robust mass transit options to ensure that both city and suburban employees can access the campus safely and efficiencly every day. New local traffic and infrastructure improvements are planned and underway that will continue to services the site in a convenient and sustainable future.
          </p>
    </div>

    <div class="paragraph-image">
      <%=image_tag("CampusSouth.jpg", class: "img-responsive") %>
      <h5 class="image-caption">Planting a Flag and creating a submarket, United kick's off Chicago's growth up the River</h5>
    </div>

    <div class="slogan">
      <h3>New Home, New Spirit of United</h3>
    </div>

    <div class="body-nav">
      <%= link_to "View the Facility", facility_path %>
    </div>
</div>
